<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Hospital Infections Monitoring System</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Hospital Infections Monitoring System</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <p>
                    <b>Why?</b> <br /> We believe in an optimal health environment. <br /><br />
                    <b>How?</b> <br /> By knowing: <br />
                <ul>
                    <li>The infection type of the patients</li>
                    <li>The spread risk of the disease</li>
                    <li>The amount of time the patients are in contact</li>
                    <li> Doctors are able to take actions, prevent the spread of infections and even ease the treatment of them in case an infection occurs.</li>
                </ul>
                <b> What?</b><br/>
                A system that aims to develop the safety of patients in an environment where there is a high risk of getting infectious diseases.
                </p>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="well">
                <p style="text-align:center"><img class="centerImage" src="images/doc.jpg"/></p></div>
        </div>
</div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <p> A <b>Smart Hospital</b> has an improved disease management by creating an optimal healing environment by building an
                    infection control system, that monitors patients in real time to minimize the time
                    doctors spend on identify a possible disease, having a higher accuracy of the diagnosis.
                    The system decrease the rate of occuring diseases in hospital by taking preventive actions.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>