<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Hospital Infections Monitoring System</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>

    <style>
        .home_caption {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Hospital Infections Monitoring System</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <h4>System for preventing and monitoring infections, through the use of proximity sensors and technologies.</h4>
                <p>The system monitors the infections in a hospital. It aims to develop patient safety in such an environment.
                    By knowing the patients that interact as well as their infection type, location of intersection between
                    patients and the time they are in contact, doctors are able to take actions and prevent the spread of
                    infections and even ease the treatment of them in case an infection occurs. </p>

            </div>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="images/hims.jpg"/>
        </div>
    </div>

</div>

</body>
</html>