<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Hospital Infections Monitoring System</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>

    <style>
        .home_caption {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Hospital Infections Monitoring System</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <p>test</p>
            </div>
        </div>
        <div class="col-sm-8">
            <p>test</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>test</p>
        </div>
    </div>
    <div class="row row-eq-heigh">
        <div class="col-sm-6">
            <div class="well">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                  <p>For example, if an examinee performs well on an item of intermediate difficulty, they will then be
                    presented with a more difficult question.
                    Or, if they performed poorly, they would be presented with a simpler question.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>