<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Edit Patients</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Edit Patients</h1>
    </div>

    <ol class="breadcrumb">
        <li class="active">Patients</li>
    </ol>

    <h2>Edit existing partients</h2>
    <div class="patients_list">
        <div class="patient" th:each="d : ${person}">
            <form class="form-inline" method="post" th:action="@{/managedb/person/rename}">
                <input type="hidden" name="id" th:value="${d.id}"/>
                <input type="text" class="form-control" title="Patient name" name="name" th:value="${d.name}"/>
                <button type="submit" class="btn btn-warning">Edit Name</button>

                <a class="btn btn-danger" th:href="@{/managedb/person/{id}/delete(id=${d.id})}">Remove</a>
                <a class="btn btn-primary" th:href="@{/managedb/person/{id}(id=${d.id})}">View People</a>
            </form>
        </div>
    </div>

    <h2>Add new patient</h2>
    <form class="form-inline" method="post" th:action="@{/managedb/person/add}">
        <div class="form-group">
            <label for="name">Person name</label>
            <input type="text" class="form-control" id="name" name="name"/>
        </div>
        <button type="submit" class="btn btn-default">Add Patient</button>
    </form>
</div>
</body>
</html>