<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout"
      ng-app="himsApp">
<head>
    <title>Persons</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet" type="text/css"/>

    <style>
        .home_caption {
            margin-bottom: 10px;
        }
        .grid {
            width: 100%;
        }

        .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
            overflow: visible;
        }
    </style>
</head>
<body>
<div layout:fragment="content" ng-controller="DbController">
    <div class="jumbotron">
        <h1>Monitored persons</h1>
    </div>

    <div class="grid" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div>

    <div>
        <form>
            <label>Name</label>
            <input type="text" ng-model="newPerson.name" >

            <label>Age</label>
            <input type="text" ng-model="newPerson.age" >

            <label>Role</label>
            <select ng-model="newPerson.role" ng-options="role.id as role.value for role in roleList"></select>

            <label>Infectious disease</label>
            <select ng-model="newPerson.infectious_disease" ng-options="infectious_disease.id as infectious_disease.value for infectious_disease in diseases"></select>

            <label>Phone MAC address</label>
            <input type="text" ng-model="newPerson.phone_mac_address" >

            <button ng-click="addRow()">Add</button>
        </form>
    </div>

</div>

<section layout:fragment="scripts">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/spring-data-rest-js/dist/spring-data-rest.min.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="js/person.js"></script>
</section>

</body>
</html>