<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout"
      ng-app="himsApp">
<head>
    <title>System Users</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet" type="text/css"/>

    <style>
        .home_caption {
            margin-bottom: 10px;
        }
        .grid {
            width: 100%;
        }

        .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
            overflow: visible;
        }
    </style>
</head>
<body>
<div layout:fragment="content" ng-controller="DbController">
    <div class="jumbotron">
        <h1>System Users</h1>
    </div>

    <div class="grid" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div>

    <div>
        <form>
            <label>Username</label>
            <input type="text" ng-model="newUser.username" >

            <label>Password</label>
            <input type="text" ng-model="newUser.password" >

            <label>Person Name</label>
            <select ng-model="newUser.person" ng-options="person.id as person.value for person in people"></select>


            <button ng-click="addRow()">Add</button>
        </form>
    </div>

</div>

<section layout:fragment="scripts">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/spring-data-rest-js/dist/spring.min.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="js/user.js"></script>
</section>

</body>
</html>